.form {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-clr);
  justify-content: space-between;
}

.form-left {
  width: 60%;
}

.form-title.title-group {
  align-items: start;
  margin-bottom: 4rem;
}

.form-title h2,
.form-title p {
  color: var(--white-clr);
}

.time {
  display: flex;
  justify-content: space-between;
}

.time-block {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--white-clr);
  font-size: 20px;
  padding: 2rem;
  border: 1px solid rgb(175, 175, 175);
  border-radius: 4px;
  min-width: 175px;
}

.time-block span {
  font-size: 40px;
  font-weight: bold;
}

form {
  width: 30%;
  background-color: var(--white-clr);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form .title-group {
  margin-bottom: 0;
}

form input {
  background-color: transparent;
  padding: 1rem 0.5rem;
  border: none;
  border-bottom: 1px solid #d4d8dc;
}

form input:focus {
  outline: none;
}

form input::placeholder {
  font-family: var(--font-roboto);
  font-weight: bold;
  color: #afb7c0;
}

form button {
  text-transform: uppercase;
  border: none;
  padding: 1rem 2rem;
  margin-top: 1.5rem;
  font-weight: bold;
}
