header {
  width: 100%;
  background: no-repeat center url("../assets/home-banner.jpg");
  min-height: 800px;
  background-size: cover;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem var(--layout-padding);
  background-color: #ebe5e9d9;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  transition: var(--transition);
  color: var(--primary-clr);
}

.nav-links li:first-child a {
  color: var(--accent-clr);
}

.nav-links li:hover a {
  color: var(--accent-clr);
}

.search-btn {
  background-color: transparent;
  border: none;
}

/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 600px;
}

.hero-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.hero-links a {
  text-transform: uppercase;
  padding: 1rem 3rem;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: var(--transition);
}

.learn-more {
  background-color: var(--primary-clr);
  color: var(--accent-clr);
}

.learn-more:hover {
  border: 1px solid var(--primary-clr);
  background-color: var(--white-clr);
  color: var(--primary-clr);
}

.menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
}
